.app__about{
    background-color: rgb(246, 244, 241);
    display: flex;
    padding: 10rem 2rem;
    justify-content: space-between;
    flex-direction: column;
}

.app__about div{
     font-size: 1.4rem;
     font-family: sans-serif;
     font-weight: 500;
     text-decoration: none;
    line-height: 1.5;
    text-align: left;
}

@media screen and (max-width: 2000px) {
    .app__about{
        padding: 8rem;
    }
    .app__about div{
        font-size: large;
    }
    
}
@media screen and (max-width: 1150px) {
        .app__about {
                padding: 10rem  1rem;
            }
        
            .app__about div {
                padding: 2rem;
                font-size: large;
            }

}
@media screen and (max-width: 650px) {

    .app__about {
            padding: 4rem 0;
        }
    
        .app__about div {
            font-size: small;
            font-weight: 300;
        }
}
