.app__contact{
    background-color: rgb(246, 244, 241);
    display: flex;
    padding: 15rem;
    flex-direction: column;
    justify-content: space-between;
    
}
.contactus {
    padding: 2rem;
    font-size: 1.4rem;
    font-family: sans-serif;
    font-weight: 600;
    text-decoration: none;
    line-height: 1.5;
    text-align: left;
}

@media screen and (max-width: 2000px) {
      .app__contact{
        padding: 12rem 3rem;
      }
      .contactus{
        padding: 1rem;
        font-size: large;
      }
}

@media screen and (max-width: 1150px) {
    .app__contact {
            padding: 12rem 2rem;
        }
    
        .contactus {
            padding: 1rem;
            font-size: large;
        }

}

@media screen and (max-width: 650px) {
    .app__contact {
            padding: 12rem 2rem;
        }
    
        .contactus {
            padding: 1rem;
            font-size: medium;
        }
}
